{% extends 'base.html' %}
{% block title %}Res. For Us{% endblock title %}
{% block main_content %}
<section id='banner'>
    <div class='content'>
        <header>
            <h1>Best Restaurant <br> Review Forum</h1>
        </header>
        <p>대한민국 맛집 공유 포럼</p>
        <p>대한민국 소재 음식점 리뷰를 공유하는 곳으로, <br> 지도를 통해 위치를 파악할 수 있으며, 청결도, 맛 등을 <br>이용자와 공유할 수 있는 곳입니다.</p>
    </div>
    <span class='image object'>
        <img src='https://www.visitcalifornia.com/sites/visitcalifornia.com/files/8_SpotlightAnaheim_ExoticEthnicTreasures_Sav100-LittleArabia_OliveTree_1280x642_downsized.jpg'>
    </span>
</section>
<section>
    <header class='major'>
        <h2>Resent Reviews</h2>
    </header>
    <div class='posts'>
        <article>
            <a href='#' class='image'>
                <img src='/static/images/pic01.jpg'>
            </a>
            <h3>subject</h3>
            <p>description</p>
            <ul class='actions'>
                <li><a href='#' class='button'>More</a></li>
            </ul>
        </article>
        <article>
            <a href='#' class='image'>
                <img src='/static/images/pic01.jpg'>
            </a>
            <h3>subject</h3>
            <p>description</p>
            <ul class='actions'>
                <li><a href='#' class='button'>More</a></li>
            </ul>
        </article>
        <article>
            <a href='#' class='image'>
                <img src='/static/images/pic01.jpg'>
            </a>
            <h3>subject</h3>
            <p>description</p>
            <ul class='actions'>
                <li><a href='#' class='button'>More</a></li>
            </ul>
        </article>
        <article>
            <a href='#' class='image'>
                <img src='/static/images/pic01.jpg'>
            </a>
            <h3>subject</h3>
            <p>description</p>
            <ul class='actions'>
                <li><a href='#' class='button'>More</a></li>
            </ul>
        </article>
    </div>
</section>
{% endblock main_content %}