{% extends 'base.html' %}
{% block title %}Res. For Us - Forum{% endblock title %}
{% block main_content %}
    <section class='main-section'>
        <h1>Res. Review Forum</h1>
        <div>
            <form class='search-box'>
                <select id='search_type'>
                    <option value=2>subject</option>
                    <option value=3>address</option>
                </select>
                <input id='search-input' type='text'>
                <button class='search-button'>Search</button>
            </form>
        </div>
    </section>
    <section class='sub-section'>
        <div style='width:100%;text-align:right;margin-bottom:30px;'>
            <a href='/forum/add/' class='button'>Post</a>
        </div>
        <table class="forum-table">
            <thead class="thead-inverse forum-table-head">
                <tr>
                    <th>작성일자</th>
                    <th>작성자</th>
                    <th>제목</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody class='tbody-inverse'>
                {% for forum in forums %}
                <tr>
                    {% if forum.mainphoto %}
                    <td><img src = "{{ forum.mainphoto.url }}" alt="" height="60"></td>
                    {% endif %}
                    <td>{{forum.last_updated}}</td>
                    <td>{{forum.owner}}</td>
                    <td><a href='forum/{{ forum.slug }}'>{{forum.subject}}</a></td>
                    <td>{{forum.address}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {# page_obj : paging과 관련된 정보를 관리하는 객체 #}
        {% if page_obj.has_previous  %}
            <a href="?page={{page_obj.previous_page_number}}">PreviousPage</a>
        {% endif %}
        &nbsp;&nbsp;[page {{ page_obj.number }} of {{page_obj.paginator.num_pages}}]&nbsp;&nbsp;
        {% if page_obj.has_next  %}
            <a href="?page={{page_obj.next_page_number}}">NextPage</a>
        {% endif %}
    </section>
{% endblock main_content %}

{% block custom_js %}
<script type='text/javascript'>
$(function(){
    $('.search-button').on('click',function(){
        $('.tbody-inverse').empty();
        const search_list = [parseInt($('#search_type option:selected').val()), $('#search-input').val()];
        $.ajax({
            'url':'/forum/search/',
            'method':'GET',
            'dataType': 'json',
            'data':{'type':search_list[0], 'name':search_list[1]}, 
            'success':function(result_list, status, xhr){
                var tr = $('<tr></tr>');
                for(var i=0;i<result_list.length();i++){
                    tr = $('<tr></tr>');
                    $('<td></td>').text(result_list['last_updated']).appendTo(tr);
                    $('<td></td>').text(result_list['owner']).appendTo(tr);
                    $('<td></td>').append($('<a></a>').attr('href',result_list['slug']).text(result_list['subject'])).appendTo(tr);
                    $('<td></td>').text(result_list['address']).appendTo(tr);
                    tr.appendTo($('.tbody-inverse'));
                }
            },
                'error':function(status, xhr, err){
                alert('처리 안 됨');
            }
        });
    });
});
</script>
{% endblock custom_js %}